*{
    box-sizing: border-box;

}
/*TEG DO HTML*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}

h1{
    text-align: center;
    font-size: 3rem;

}
header{
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    width: 90%;
    margin: auto auto;
}

/*INPUT DE TESTO*/
input{
    min-height: 120px;
    font-size: 2rem;
    width: 80%;
    padding: 5%;
    
}

/*BOTAO VERDE DE ADICIONAR TAREFAS A LISTA*/
button.add{
    width: 20%;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    height:120px;
    margin: 0;
    padding: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*CORPO DO PRINCIPAL*/
main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    padding-top: 40px;

}

/*CONFIGURAÇAO DO INGETAVEL*/
.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 15px #777474;
    margin-bottom: 2%;
}

/*TAREFAS JA CONCLUIDA*/
.item.clicado{
    background-color: #c2bbbb;
}
.item.clicado .item-nome{
    text-decoration:line-through;
    color: #675e5e;
}
.item-icone{
    flex: 10%;
    text-align: center;
    font-size: 2rem;
}
.item-nome{
    flex: 70%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.item-botao{
    flex: 10%;
}

/*BOTAO VERMELHO QUE DELETA TAREFAS*/
.delete{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    cursor: pointer;
    
}

.mdi-check-circle{
    color: green;
}